body {
    /* Aplica um gradiente linear que começa no topo (top) e vai até embaixo (bottom) */
    background: linear-gradient(to bottom, #222326 0%, #505259 31%, #222326 100%);
    /* Faz o gradiente ocupar toda a altura da página */
    min-height: 300vh;
    margin: 0;
}
.box{
    text-align: center;
    margin-top: 22%;
    color: white;  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 4px;
    
    
    }

div h1 {
        margin: -5px 0; /* Reduz a margem superior e inferior dos h1 dentro da div */
        font-size: 48px;
}

.pequeno{
    font-size: 36px;
}

.imagem{
    margin-top: 0.5%;
    display: flex;   
    gap: 30px;
    text-align: center;
    justify-content: center;
}

.img{
    width: 50px;
    height: 50px;
}

.botao {
    width: 50px; /* Largura total do botão */
    height: 50px; /* Altura total do botão */
    border-radius: 50%; /* Faz o botão circular */
    background-color: white; /* Fundo branco para preencher o círculo */
    display: flex; /* Usar flexbox para centralizar a seta */
    justify-content: center; /* Centraliza a seta horizontalmente */
    align-items: center; /* Centraliza a seta verticalmente */
    margin: 0 auto; /* Centraliza o botão horizontalmente na página */
    margin-top: 15%; /* Espaço acima do botão */
    padding: 0; /* Remove o preenchimento do botão */
    outline: none; /* Remove o contorno padrão do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

#seta {
    margin-top: 10%;

}

/* Efeito ao passar o mouse */
.botao:hover #seta {
    transform: translateY(5px); /* Move a seta levemente para baixo */ 
    transition: transform 0.5s;
}

#perfil {
    width: 15%;
    margin-top: 5%;
    display: flex;   
    gap: 30px;
    justify-content: center;
    align-items: center; /* Alinha verticalmente no centro */
}

.foto {
    display: flex; /* Permite que a imagem ocupe o espaço corretamente */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.sobre{
    text-align: center;
    margin-top: 2%;
    color: white;  
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
    }

div h3 {
        margin: 2px 0; /* Reduz a margem superior e inferior dos h1 dentro da div */
        font-size: 18px;
        font-family: "Inter", sans-serif;
}

.subtitulo{
    margin-top: 8%;
    margin-left: 13%;
    font-weight: 800;
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    
}

div .sub {	
    font-size: 40px;
}

.hr{
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    
}

.title2{
    text-align: left;
    width: 50%; /* Aumente para mover mais para a direita */
    max-width: 100%; /* Limite para telas menores */
    margin-left: 35%;
    font-family: "Inter", sans-serif;
    margin-top: 2%;
    color: rgb(255, 255, 255);  
     font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}